@import "../../styles/_variables.scss";

.footer {
  background-color: $green;
  color: $cyan;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  svg {
    fill: $cyan-desaturated;
    transition: linear 0.2s;

    &:hover {
      fill: $white;
    }
  }

  img,
  nav,
  div {
    margin: auto;
  }

  nav {
    margin: 2rem 0 4rem;
  }

  div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
