@import "../../styles/_variables.scss";

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;

  @media (min-width: 40rem) {
    padding: 0;
    max-width: 21.5rem;
  }

  span {
    border-radius: 50%;
    overflow: hidden;
    width: 5rem;
    aspect-ratio: 1 / 1;

    img {
      width: 100%;
    }
  }

  p {
    text-align: center;

    @media (min-width: 40rem) {
      margin: 4rem 0;
    }
  }
}
