@import "./styles/_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  text: {
    align: center;
    transform: uppercase;
  }
  font: {
    family: "Fraunces", serif;
    weight: 900;
    size: 2.5rem;
  }
  color: $white;
  margin: 5rem 0 3rem;
  letter-spacing: 0.3rem;
}

h2 {
  font: {
    family: "Fraunces", serif;
    weight: 900;
    size: 2rem;
  }
  text-align: center;
  color: $blue-desaturated;
  margin: 0;

  @media (min-width: 40rem) {
    font-size: 2.5rem;
    text-align: left;
  }
}

h3 {
  font: {
    family: "Fraunces", serif;
    weight: 900;
    size: 1.75rem;
  }
  text-align: center;
  margin: 0;
}

h4 {
  font: {
    family: "Fraunces", serif;
    weight: 900;
    size: 1rem;
  }
  color: $blue-grey2;
  letter-spacing: 0.3rem;
  margin: 0 0 4rem 0;
  text-align: center;
}

p {
  font: {
    family: "Barlow", sans-serif;
    weight: 400;
    size: 1.1rem;
  }
  text-align: center;
  color: $dark-blue-grey;
  line-height: 1.7;
  margin: 2rem auto;

  @media (min-width: 40rem) {
    text-align: left;
  }
}

strong {
  font: {
    family: "Fraunces", serif;
    weight: 900;
    size: 1.25rem;
  }
  color: $blue-desaturated;
}

small {
  font: {
    family: "Barlow", sans-serif;
    weight: 400;
    size: 0.9rem;
  }
  color: $blue-grey2;
  margin-top: 0.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.mobile {
  display: block;
  @media (min-width: 40rem) {
    display: none;
  }
}

.desktop {
  display: none;
  @media (min-width: 40rem) {
    display: block;
  }
}
